<section ng-controller="FeedController as ul">
  <section>
    <md-list>
      <md-list-item ng-repeat="note in ul.notes">
        <div>
          <p><b>{{note.text}}</b> <span ng-if="note.tags.length > 0"> - </span><b ng-repeat="tag in note.tags">{{tag}}<span ng-if="!$last">,</span>
          </b></p>        
          <p ng-repeat="verse in note.verses"> 
            <a class="capitalize"
              ui-sref="verse({verseID : verse._id})"
              target="_blank">
              {{verse._id | formatVerse}}
            </a>
            <span>{{verse.text}}</span>
          </p>
        </div>
        <md-divider></md-divider>
      </md-list-item>
    </md-list>
  </section>
</section>