<div ng-controller="HeaderController as ul" >
  <md-toolbar>
    <div class="md-toolbar-tools" md-scroll-shrink>
      <md-button class="md-icon-button" hide-gt-sm ng-click="ul.toggleList()"
               aria-label="Show Books"
               ng-hide="showBackButton">
        <md-icon md-svg-icon="menu" ></md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="Back" 
        ng-show="showBackButton"
        analytics-on="click" analytics-event="BackNav"
        ng-click="ul.goBack()">
        <md-icon md-svg-icon="keyboard-backspace"></md-icon>
      </md-button>
      <h2>
        <span ng-click="ul.goHome()" style="cursor: pointer; outline: none"
            analytics-on="click" analytics-event="HomeNav">
            <!-- <img src="assets/logo_small.png"> -->
            <span>The Unknown</span>
        </span>
      </h2>
      <span flex></span>
      <md-menu ng-show="authentication.user">
        <md-button class="md-icon-button" aria-label="More" ng-click="ul.openMenu($mdOpenMenu, $event)">
          <md-icon md-svg-icon="dots-vertical"></md-icon>
        </md-button>
        <md-menu-content width="4">
            <md-list-item >
              <img ng-src="{{authentication.user.profileImageURL}}" class="md-avatar" alt="{{authentication.user.username}}" />
              <p>{{authentication.user.displayName}} </p>
            </md-list-item>
          <!-- <md-menu-divider></md-menu-divider> -->
          <md-menu-item>
            <md-button ng-href="/preferences" target='_self'
                analytics-on="click" analytics-event="Preferences">
              Preferences
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-href="/api/auth/signout" target='_self'
                analytics-on="click" analytics-event="SignOut">
              Signout
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
      <!-- <md-button class="md-fab md-mini" aria-label="Favorite">
      <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
    </md-button> -->
    </div>
  </md-toolbar>
</div>
