<section ng-controller="PreferencesController as ul" class="md-padding" >
  <section >
    <h4>Default Preference</h4>
    <md-radio-group ng-model="ul.defaultTranslation" class="md-primary" 
      layout="row" layout-wrap layout-align="start center">
      <md-radio-button ng-repeat="d in ul.translations"
                       ng-value="d"
                       class="radiospace">
          {{ d | uppercase }}<br/>
      </md-radio-button>
    </md-radio-group>
    <div>
      <h4>Other Preferences</h4>
      <md-checkbox ng-repeat="tr in ul.translations"
          ng-disabled="tr === ul.defaultTranslation"
          ng-checked="ul.exists(tr, ul.selected)" ng-click="ul.toggle(tr, ul.selected)">
          {{ tr | uppercase }}
      </md-checkbox>  
    </div>
    <md-button class="md-raised md-primary"
        ng-click="ul.savePreferences()">
        Save
    </md-button>
  </section>
</section>