<section ng-controller="VerseController as ul" class="md-padding">
    <a ng-if="ul.verse.previousVerseId" class="navLeft" left-key-press
        ui-sref="verse({verseID: ul.verse.previousVerseId})" >
        <md-icon md-svg-icon="chevron-double-left"></md-icon>
    </a>
    <section ng-if="ul.verse" layout="row" layout-xs="column"
        md-swipe-left="ul.navigateNext()" md-swipe-right="ul.navigatePrev()">
        <section flex-gt-sm="70">
            <h4 class="capitalize">
                <a ui-sref="chapter({book : ul.verse.book, chapter : ul.verse.chapter, '#' : ul.verse._id})" target="_blank">
                    <md-icon aria-label="View chapter" class="square18" md-svg-icon="book-open-variant"></md-icon>
                </a>
                {{ul.verse.book}} {{ul.verse.chapter}} : {{ul.verse.verse}}
            </h4>
            <p>{{ul.verse.text}}</p>
            <form name="ul.myform" novalidate>
                <div>
                    <notes-view verse="ul.verse" is-creator="{{ul.isCreator}}"></notes-view>
                    <references-view ng-if="ul.verse" is-open="true" verse="ul.verse"></references-view>
                    <note-form form="ul.myform" open-references="true" verse="ul.verse" is-creator="{{ul.isCreator}}" index="0"></note-form>
                </div>
            </form>
        </section>
        <section>
            <div>Your preferred translations</div>
            <md-list>
                <md-list-item ng-repeat="(key,value) in ul.filterTranslations(ul.verse.translations, ul.user, 'preferred')">
                    <p><b>{{key | uppercase}}</b> - {{value}}</p>
                </md-list-item>
            </md-list>

            <div ng-init="showOthers = isOpen" ng-click="showOthers = !showOthers"> Other translations <md-icon md-svg-icon="{{showOthers ? 'chevron-down' : 'chevron-right'}}"></md-icon>
            </div>
            <div ng-show="showOthers">
                <md-list>
                    <md-list-item ng-repeat="(key,value) in ul.filterTranslations(ul.verse.translations, ul.user, 'other')">
                        <p><b>{{key | uppercase}}</b> - {{value}}</p>
                    </md-list-item>
                </md-list>
            </div>
        </section>
    </section>
    <a ng-if="ul.verse.nextVerseId" class="navRight" right-key-press
        ui-sref="verse({verseID: ul.verse.nextVerseId})" >
        <md-icon md-svg-icon="chevron-double-right"></md-icon>
    </a>
</section>