<div ng-if="verse && isCreator" ng-init="init_form()" md-whiteframe="1" layout-padding layout-margin>
    <md-input-container class="md-block">
      <label>Note</label>
      <textarea name="note_{{index}}" ng-model="verse.note" required md-maxlength="500" rows="3" md-select-on-focus></textarea>
      <div ng-messages="form['note_' + index].$error" role="alert" multiple>
        <div ng-message="required" class="my-message">This is a required field.</div>
        <div ng-message="md-maxlength" class="my-message">
          Your input exceeds maximum allowed limit
        </div>
      </div>
    </md-input-container>
    <md-chips ng-model="verse.tags" placeholder="Enter a tag">
    </md-chips>
    <!-- Available only in the detailed verse view -->
    <div ng-if="openReferences">
        <label>Link verses</label>
        <md-checkbox ng-repeat="xref in verse.crossReferences | orderBy : 'sortId'" 
            ng-checked="exists(xref._id, selected)" ng-click="toggle(xref._id, selected)">
            {{ xref._id | formatVerse | capitalize}}
        </md-checkbox>
        <div ng-if="verse.matching_books">
            <label>Matching books</label>
            <span ng-repeat="book in verse.matching_books">
                {{book | capitalize}}<span ng-if="!$last">,</span>
            </span>
        </div>
        <div ng-if="verse.matching_verses">
            <label>Matching verses</label>
            <md-checkbox ng-repeat="link in verse.matching_verses | orderBy : 'sortId'" 
                ng-checked="exists(link._id, selected)" ng-click="toggle(link._id, selected)">
                {{ link._id | formatVerse | capitalize}}
            </md-checkbox>
        </div>
        <md-input-container class="md-block">
            <label>Add a new reference</label>
            <input ng-model="verse.newReference" ng-model-options="{ debounce: 300 }"ng-change="addNewReference(verse)">
        </md-input-container>
    </div>
    <div layout-gt-xs="row" layout-align="space-between center">
        <md-radio-group ng-model="verse.category" layout="row" layout-align="center center">
            <md-radio-button value="question">Question</md-radio-button>
            <md-radio-button value="prayer"> Prayer </md-radio-button>
            <md-radio-button value="learning">Learning</md-radio-button>
        </md-radio-group>
        <md-button class="md-raised md-primary"
            ng-disabled="form['note_' + index].$invalid"
            ng-click="addNote(verse)">
            Add
        </md-button>
    </div>
    <!-- <references-view ng-if="verse" is-open="{{openReferences}}" verse="verse"></references-view> -->
</div>