<md-list>
  <md-list-item ng-repeat="note in verse.notes | orderBy : '-category'" >
      <p flex="95">
          <md-icon md-svg-icon="star"
              ng-if="note.category === 'question'"
              style="font-size: 16px; height: 16px"></md-icon>
          <md-icon md-svg-icon="star-outline"
              ng-if="note.category === 'prayer'"
              style="font-size: 16px; height: 16px"></md-icon>
          <md-icon md-svg-icon="barley"
              ng-if="note.category === 'learning'"
              style="font-size: 16px; height: 16px"></md-icon>
          <span class="md-body-1" ng-bind-html="trustNoteHtml(note)"></span>
          <span ng-if="isCreator" class="pull-right">
              <b class="md-caption" ng-show="note.user"> - {{note.user.displayName}}</b>
              <span class="md-caption" ng-show="note.created"> ({{note.created | date}})</span>
          </span>
          <span ng-repeat="vs_id in note.verses" ng-if="vs_id !== verse._id">
            <a ui-sref="verse({verseID: vs_id})" target="_blank">  
              {{ vs_id | formatVerse | capitalize}}
            </a>
            <span ng-if="!$last">,</span>
          </span>
          <span ng-if="note.tags.length > 0">-</span>
          <b ng-repeat="tag in note.tags">{{tag}}
              <span ng-if="!$last">,</span>
          </b>
      </p>
      <md-icon aria-label="Delete"
          ng-click="deleteNote(verse,note)"
          ng-if="isCreator"	
          md-svg-icon="delete">
      </md-icon>
      <md-divider ng-if="!$last"></md-divider>
  </md-list-item>
</md-list>