<div ng-init="showxref = isOpen" ng-click="showxref = !showxref"> Related verses <md-icon md-svg-icon="{{showxref ? 'chevron-down' : 'chevron-right'}}"></md-icon>
</div>
<div ng-show="showxref">
    <div ng-repeat="xref in verse.crossReferences | orderBy : 'sortId'">        
        <a ui-sref="chapter({book : xref.book, chapter : xref.chapter, '#' : xref._id})" target="_blank">
            <md-icon aria-label="View chapter" class="square18" md-svg-icon="book-open-variant"></md-icon>
        </a>
        <a class="capitalize"
            ui-sref="verse({verseID : xref._id})"
            target="_blank">{{xref._id | formatVerse}}</a>
        <span class="md-body-2">{{xref.text}}
        </span>
    </div>
</div>