<section ng-controller="AuthenticationController" flex layout="row" layout-align="center none" >
  <div flex-sm="100" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="50" >
    <md-content class="md-padding">
      <div layout="column" layout-align="top center">
        <h3 class="md-title">Sign in using your social accounts</h3>
        <div flex-sm="100" flex-gt-sm="80" layout-sm="column">
          <md-button aria-label="Facebook" class="md-raised md-primary"
              analytics-on="click" analytics-event="FB_Login"
              ng-click="callOauthProvider('/api/auth/facebook')">
              <md-icon md-svg-icon="facebook"></md-icon>
               | facebook
          </md-button>
          <md-button aria-label="Google" class="md-raised md-primary"
              analytics-on="click" analytics-event="G_Login"
              ng-click="callOauthProvider('/api/auth/google')">
              <md-icon md-svg-icon="google-plus"></md-icon>
               | google
          </md-button>
        </div>
      </div>
    </md-content>
     <!-- Custom login -->
    <!-- <div ui-view></div> -->
  </div>
</section>
<!-- <section class="row" ng-controller="AuthenticationController">
  <h3 class="col-md-12 text-center">Sign in using your social accounts</h3>
  <div class="col-md-12 text-center">
    <img ng-click="callOauthProvider('/api/auth/facebook')" ng-src="/modules/users/client/img/buttons/facebook.png">
    <img ng-click="callOauthProvider('/api/auth/twitter')" ng-src="/modules/users/client/img/buttons/twitter.png">
    <img ng-click="callOauthProvider('/api/auth/google')" ng-src="/modules/users/client/img/buttons/google.png">
    <img ng-click="callOauthProvider('/api/auth/linkedin')" ng-src="/modules/users/client/img/buttons/linkedin.png">
    <img ng-click="callOauthProvider('/api/auth/github')" ng-src="/modules/users/client/img/buttons/github.png">
    <img ng-click="callOauthProvider('/api/auth/paypal')"  ng-src="/modules/users/client/img/buttons/paypal.png">
  </div>
  <div ui-view></div>
</section>
 -->